<h1>Add New Game</h1>

<%= form_for @game do |f| %>

<p>
  <%= f.label :gname %><br>
  <%= f.text_field :gname %><br>
  <%= f.label :gcate %><br>
  <%= f.text_field :gcate %><br>
  <%= f.label :exp %><br>
  <%= f.text_area :exp %><br>
  

</p>

<p>
  <%= f.submit %>

</p>
<% end %>
