<!DOCTYPE html>
<html>
<head>
  <title>GamerRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "トップ",{:controller=>"games",:action=>"index"} %> 
<%= yield %>

</body>
</html>
